* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
}

.app {
  background-image: url("./assets/cloudy.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.5 ease-out;
}

.app.sunny {
  background-image: url("./assets/sunny.jpg");
}

.app.sunset {
  background-image: url("./assets/sunset.jpg");
}

.app.evening {
  background-image: url("./assets/evening.jpg");
}

.app.night {
  background-image: url("./assets/night.jpg");
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 255, 0.2),
    rgba(0, 0, 0, 0.5)
  );
  padding: 25px;
  color: #fff;
}

.search .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 0 0 75px;
  transition: 0.5s ease;
}

.search .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.city-info {
  text-align: center;
}

.city-info .location {
  font-size: 40px;
  font-weight: 500;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.4);
}

.city-info .date {
  font-style: italic;
}

.weather-info .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;

  padding: 15px 25px;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.4);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

.weather-info .weather {
  font-size: 50px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.4);
}

.forecast {
  margin: 75px 0 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.forecast-day {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.forecast-image {
  width: 10vw;
}
